 @model Hotel_management.Models.Hotel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center  btn-primary">Update Otel</h1>

<div class="card" style="width:100%">


    <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h1 style="color:black" class="text-center"> Əsas şəkil</h1>
        </li>
        <li class="list-group-item">
            <img class="img-fluid"style="width:100% !important;height:600px" src="~/images/Hotels/@Model.Mainimg">
        </li>
    </ul>
   
  

</div>

 @if (Model.HotelImages != null)
    {
       
<div class="card" style="width:100%">
          <h1 style="color:black" class="text-center pt-3"> Otelin şəkilləri</h1>
   

   <ul class="d-flex list-unstyled">
          
      
          @foreach (HotelImages hotelImages in Model.HotelImages)
        {
        <li class="ps-2">
            <img class="img-fluid" style="width:500px !important" src="~/images/Hotels/@hotelImages.Name">
            <div class="pt-3 text-center">
         <a class="btn btn-danger" asp-action="DeleteHotelImage" asp-route-Id="@hotelImages.Id">Şəkli sil</a>

            </div>

        </li>
          
           
        
        }

       
    </ul>
   
   

</div>
    }
   
  
    

                  
            
            
        

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
<input type="hidden" asp-for="Id" />

                <div class="form-group">
                <label asp-for="HotelImagesFile"></label>
        <input class="form-control" accept="image/*" asp-for="HotelImagesFile">
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MainimgFile" />
                <label asp-for="MainimgFile" accept="image/*"  class="control-label"></label>
                <input asp-for="MainimgFile" class="form-control" />
            </div>
           
             <div class="form-group">
                <label asp-for="MapLocation" class="control-label"></label>
           <input asp-for="MapLocation" class="form-control" />
                <span asp-validation-for="MapLocation" class="text-danger"></span>
            </div>
  
            <div class="form-group">
                
        <label>Location</label>
        <select class="form-control" asp-for="LocationId">
            @foreach (var location in ViewBag.Locations)
            {
                <option value="@location.Id">@location.City</option>
            }
        </select>
        <span class="alert-danger" asp-validation-for="LocationId"></span>
    </div>

                       

                <div class="form-group">
                    <label>Rating</label>
                    <select class="form-control" asp-for="HotelStarId">
                        @foreach (var stars in ViewBag.Ratings)
                        {

                            <option value="@stars.Id">@stars.Star</option>
                        }
        </select>
        <span class="alert-danger" asp-validation-for="HotelStarId"></span>
    </div>
    
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>         
  








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
