@model IEnumerable<Hotel_management.Models.RoomType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int orders = (ViewBag.SelectPage - 1) * 10;
    int SelectedPage = ViewBag.SelectPage;
    decimal totalPage = ViewBag.TotalPage;
}

<h1>RoomType Page</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12">


            <table class="table">
    <thead>
        <tr style="display:flex;flex-wrap:wrap"  >
             <th>
               <i style="font-size:20px;color:black" class="fas fa-hotel"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
              <b>1</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> Low
            </th>
            <th>
             <b>2</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> Low
            </th>
            <th>
            <b>3</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> Low
            </th>
             <th>
             <b>1</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> Mid
            </th>
            <th>
            <b>2</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> Mid
            </th>
            <th>
           <b>3</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> Mid
            </th>
            <th>
             <b>1</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> High
            </th>
            <th>
             <b>2</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> High
            </th>
            <th>
             <b>3</b><i style="font-size:20px;color:black" class="fas fa-calendar-week"></i> High
            </th>
              
        
            <th>
                @Html.DisplayNameFor(model => model.Roomarea)
            </th>
            <th>
             <i style="font-size:20px;color:black" class="fas fa-image"></i>
            </th>
            <th>
                <i style="font-size:20px;color:black" class="fas fa-users"></i>
            
            </th>
            <th>
             <i style="font-size:20px;color:black" class="fas fa-child"></i>
            </th>
         
           
           
            <th>
              <i style="font-size:20px;color:blue" class="fas fa-cogs"></i>
            </th>
        </t>
    </thead>
    <tbody>
@foreach (RoomType item in Model) {
        <tr style="display:flex;flex-wrap:wrap"  id="room_tr">
              <td style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.OneweekPrice) AZN
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.TwoweeksPrice) AZN
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.ThreeweeksPrice) AZN
            </td>
            <td  style="font-size:12px !important" >
                @Html.DisplayFor(modelItem => item.TwoweeksPriceMid) AZN
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.ThreeweeksPriceMid) AZN
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.OneweekPriceHigh) AZN
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.TwoweeksPriceHigh) AZN
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.ThreeweeksPriceHigh) AZN
            </td>
          
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.Roomarea) m2
            </td>
            <td >
               <img style="width:100px; height:100px;" src="~/images/Rooms/@item.Mainimg" alt="Alternate Text" />
            </td>
            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.People)
            </td>

            <td  style="font-size:12px !important">
                @Html.DisplayFor(modelItem => item.Children)
            </td>
       
           
            <td class="d-flex">
                <a style="margin:0px 5px"  asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                <a  new { onclick="return confirm('Are sure wants to delete the current Item?');" } asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (SelectedPage > 1)
            {
                <li class="page-item"><a asp-action="index" asp-route-page="@(SelectedPage-1)" class="page-link">Previous</a></li>
            }
            @{ int startPage = (SelectedPage == 1 || totalPage <= 3) ? 1 : SelectedPage < totalPage ? SelectedPage - 1 : SelectedPage - 2;
                int Page = totalPage > 2 ? startPage + 2 : (int)totalPage; }
            @for (int i = startPage; i <= Page; i++)
            {
                <li class="@(i==SelectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i" asp-route-search="@ViewBag.CurrentSearch">@i</a></li>
            }
            @if (SelectedPage < totalPage)
            {
                <li class="page-item"><a asp-action="index" asp-route-page="@(SelectedPage+1)" class="page-link">Next</a></li>
            }



        </ul>
    </nav>
</div>


        </div>

    </div>

</div>