@model IEnumerable<Hotel_management.Models.HotelFeatureDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1 class="pt-3">Index</h1>

<p class="text-center" >
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelFeature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelFeature.Hotel)

            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelFeature.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelFeature.Hotel.Name)

            </td>
            <td class="d-flex">
                <a class="btn btn-primary" asp-action="Create">Create</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
