@model IEnumerable<Hotel_management.Models.ForeignDomesticTourTranslations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForeignTourDescription_en)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForeignTourDescription_ru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomesticTourDescription_en)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomesticTourDescription_ru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForeignDomesticTour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignTourDescription_en)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignTourDescription_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomesticTourDescription_en)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomesticTourDescription_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignDomesticTour.Id)
            </td>
            <td class="d-flex">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
