@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<h1 class="h3 mb-4 text-gray-800">Bookings</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr style="display:flex;flex-wrap:wrap">
            <th style="font-size:13px" scope="col"><i class="fas fa-hotel"></i></th>
            <th style="font-size:13px"  scope="col">Room Type</th>
            <th style="font-size:13px"  scope="col">Reserve Time</t>
            <th style="font-size:13px" scope="col">Checkin Date</th>
            <th style="font-size:13px"  scope="col">Checkout Date</th>
            <th style="font-size:13px"  scope="col">Ordernumber</th>
            <th style="font-size:13px"  scope="col">Ad</th>
            <th style="font-size:13px"  scope="col">Soyad</th>
            <th style="font-size:13px"   scope="col"><i class="fas fa-envelope"></i></th>
            <th style="font-size:13px"  scope="col"><i class="fas fa-phone-alt"></i></th>
            <th style="font-size:13px"  scope="col">Cəm Qiymət</th>

          
                
                      <th style="font-size:13px" > Adults</th>
                
              
           
                    
                      <th style="font-size:13px" > Children</th>
                
                
            

            <th style="font-size:13px"  scope="col">Status</th>
            <th style="font-size:13px"  scope="col"><i class="fas fa-cog"></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking booking in Model)
        {
        <tr style="display:flex;flex-wrap:wrap">
            <td style="font-size:13px" scope="row">@booking.Hotel.Name</td>
            <td style="font-size:13px" scope="row">@booking.Room.Name</td>
            <td style="font-size:13px" >@booking.ReserveTime</td>
            <td style="font-size:13px">@booking.Checkin</td>
            <td style="font-size:13px">@booking.Checkout</td>
            <td style="font-size:13px">@booking.Ordernumber</td>
            <td style="font-size:13px">@booking.Name</td>
            <td style="font-size:13px">@booking.SurName</td>
            <td style="font-size:13px">@booking.Email</td>
            <td style="font-size:13px">@booking.PhoneNumber</td>
            <td style="font-size:13px">@booking.TotalPrice</td>
            <td style="font-size:13px">
                <ul style="padding:0">
            @for (int i = 0; i < booking.Adults.Count; i++)
{
      @if (booking.Adults[i].Treatment)
                            {
                                @if (booking.Hotel.Name.ToLower().Contains("Chenot".ToLower()))
                                {
                                    
                                 

                                    <li>Adult(@(i+1).)  3 dəfə yemək və @booking.Adults[i].Treatment_model.Name müalicə paketi </li>
                                }
                                else
                                {
                                     <li>Adult(@(i+1).)  3 dəfə yemək və  müalicə paketi </li>
                                }

                    }
                    else
                    {
                       
                      <li>Adult(@(i+1).) 3 dəfə yemək </li>   
                       
                    }
}
</ul>
</td>
 @if(booking.Child > 0)
                {
                    <td>
                    <ul>
                     @for (int i = 0; i < booking.Children.Count; i++)
{
      @if (booking.Children[i].Treatment)
                {
                     @if (booking.Hotel.Name.ToLower().Contains("Chenot".ToLower())){
                     <li>
                      3 dəfə yemək və  @booking.Children[i].Treatment_model.Name müalicə paketi / <br/> Yaş-@booking.Children[i].Age 
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                      3 dəfə yemək və  müalicə paketi / <br/> Yaş-@booking.Children[i].Age 
                                        </li>
                                    }
                                }
                    else
                    {
                        <li>
                        3 dəfə yemək / <br/>Yaş-@booking.Children[i].Age 
                   </li>
                    }
}
</ul>
                    </td>
                }
                else
                {
                    <td></td>
                }
            <td style="color:green">Active</td>      
            <td style="font-size:13px">
              
                    <a new { onclick="return confirm('Are sure wants to delete the current Item?');" } class="btn btn-danger" asp-action="ChangeStatus" asp-route-Id="@booking.Id" asp-route-status="false">Delete</a>
         
            </td>
            
         
        </tr>
        }
    </tbody>
</table>


