@model IEnumerable<Hotel_management.Models.HotelTranslations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="    display: flex;
    justify-content: space-between;">
            <th>
                @Html.DisplayNameFor(model => model.hotel)
            </th>
            <th  >
                @Html.DisplayNameFor(model => model.Description_en)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_ru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotel.Description)
            </th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="    display: flex;
    justify-content: space-between; flex-wrap:wrap ;   border-top: 1px solid;">
             <td>
                @Html.DisplayFor(modelItem => item.hotel.Name)
            </td>
            <td style="    white-space: nowrap;
    width: 119px;
    overflow: hidden;
    text-overflow: ellipsis;
   

    display: inline-block;">
                @Html.DisplayFor(modelItem => item.Description_en)
            </td>
            <td  style="    white-space: nowrap;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
   

    display: inline-block;">
                @Html.DisplayFor(modelItem => item.Description_ru)
            </td>
            <td  style="    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
   

    display: inline-block;">
                @Html.DisplayFor(modelItem => item.hotel.Description)
            </td>
             <td class="d-flex" style="gap:10px">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
